<div class="flex justify-center mt-20">
  <div class="p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="playwrite-de-grund-font-fourhundred text-rose-600 text-3xl font-semibold text-center mb-6">sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-400" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-400 text-gray-950 rounded-md shadow-sm focus:outline-none focus:ring-rose-500 focus:border-rose-500 sm:text-sm" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium text-gray-400" %>
        <% if @minimum_password_length %>
          <em class="text-gray-500 text-xs">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-400 text-gray-950 rounded-md shadow-sm focus:outline-none focus:ring-rose-500 focus:border-rose-500 sm:text-sm" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-400" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-400 text-gray-950 rounded-md shadow-sm focus:outline-none focus:ring-rose-500 focus:border-rose-500 sm:text-sm" %>
      </div>

      <div class="actions">
        <%= f.submit "sign up", class: "playwrite-de-grund-font-fourhundred text-lrg pb-3 w-full bg-rose-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-rose-500 transition duration-300" %>
      </div>
    <% end %>

    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
