<h1>Edit Budget: <%= @budget.name %></h1>

<%= form_for @budget do |f| %>
  <%= f.label :name, "Budget Name" %>
  <%= f.text_field :name %>

  <h2>Edit Budget Categories:</h2>
  <% @budget_categories.each do |category| %>
    <div>
      <%= fields_for "budget_categories[]", category do |bc| %>
        <%= bc.label :name, "Category Name" %>
        <%= bc.text_field :name %>
        <%= bc.label :allotted_amount, "Allotted Amount" %>
        <%= bc.number_field :allotted_amount %>
        <%= bc.label :current_amount, "Current Amount" %>
        <%= bc.number_field :current_amount %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Save Changes" %>
<% end %>
