<div class="flex justify-center mt-20">
  <div class="p-8 rounded-lg shadow-lg w-full max-w-md">
    <h1 class="text-2xl font-semibold text-center mb-6">Edit Budget #<%= @budget.id %></h1>

    <%= form_with model: @budget, method: 'PATCH', local: true do |f| %>
      <div class="mb-4">
        <%= f.label :name, "Budget Name", class: "block text-sm font-medium text-gray-400" %>
        <%= f.text_field :name, value: @budget.name, class: "mt-1 block w-full px-3 py-2 border border-gray-400 text-gray-950 rounded-md shadow-sm focus:outline-none focus:ring-rose-500 focus:border-rose-500 sm:text-sm" %>
      </div>

      <div>
        <%= f.submit "Update Budget", class: "playwrite-de-grund-font-fourhundred text-lg w-full bg-rose-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-rose-500 transition duration-300" %>
      </div>
    <% end %>
  </div>
</div>
