<h1>Edit Budget #<%= @budget.id %></h1>

<%= form_with model: @budget, local: true do |f| %>
  <div>
    <%= f.label :name, "Budget Name" %><br>
    <%= f.text_field :name, value: @budget.name %>
  </div>

  <div>
    <%= f.submit "Update Transaction" %>
  </div>
<% end %>
