<div class="flex justify-center mt-20">
  <div class="p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="playwrite-de-grund-font-fourhundred text-rose-600 text-3xl font-semibold text-center mb-6">sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-400" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-400 text-gray-950 rounded-md shadow-sm focus:outline-none focus:ring-rose-500 focus:border-rose-500 sm:text-sm" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium text-gray-400" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 border border-gray-400 text-gray-950 rounded-md shadow-sm focus:outline-none focus:ring-rose-500 focus:border-rose-500 sm:text-sm" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-gray-600 focus:ring-rose-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-500" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "sign in", class: "playwrite-de-grund-font-fourhundred text-lrg pb-3 w-full bg-rose-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-rose-500 transition duration-300" %>
      </div>
    <% end %>

    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
